@{
    ViewData["Title"] = "Home Page";
}

@* @{
    Layout = "_Admin";
} *@

<div class="text-center">
    <h1 class="display-4">Welcome to DotNet Bookstore</h1>
    <p>We're learnin ASP.NET Core MVC in Summer at Georgian College'.</p>
</div>
